<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="ca.ubc.cs.mkamimu.testcaseview10">
      </category>
      <view
            icon=""
            category="ca.ubc.cs.mkamimu.testcaseview10"
            class="ca.ubc.cs.mkamimu.testcaseview10.SelectionView"
            id="ca.ubc.cs.mkamimu.testcaseview10.SelectionView"
            name="Workbench Selection">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
  <extension point="org.eclipse.ui.decorators">  
	<decorator id="ca.ubc.cs.mkamimu.testcaseview10.decorator.Decorator"   
			label="MyMarker Decorator"
			state="true"
			class= "ca.ubc.cs.mkamimu.testcaseview10.decorator.Decorator"   
			adaptable="true"   
			lightweight="true">   
		<enablement>
			<objectClass name="org.eclipse.core.resources.IResource"/>   
		</enablement>  
	</decorator>
</extension>
</plugin>
